<h1>Otra simple calculadora de derivadas</h1>

<%= form_tag do %>
<%= label_tag :exp, "Inserte una expresión (simple) a derivar:" %><br>
<%= text_field_tag :exp, nil, onkeyup: 'myFunction() '%>
<%= submit_tag ("Derivar") %>
<% end %>
<p>
<% if params[:exp] != nil %>
<h4>Expresión ingresada:</h4>
<%= '$$f(x)=' + params[:exp] + '$$' %>
<h4>Expresión original simplificada:</h4>
<%= '$$f(x)=' + @original + '$$' %>
<% end %>
<% if @result != nil %>
<h4>Resultado:</h4>
<%= "$$ f'(x)=" + @result + '$$' %>
<h4>Resultado simplificado:</h4>
<%= "$$ f'(x)=" + @result_simplified + '$$' %>
<% end %>
</p>
</script>